.about-wrapper{
  position: relative;
  width: 100vw;
  height: auto;

  & #body-about {
    position: absolute;
    height: 790px;
    width: 680px;
    top: 50px;
    right: 795px;
    bottom: 50px;
    left: 75px;
    margin-top: -35px;
  }
}

.about {
  position: absolute;
  border-radius: 7px;
  height: 725px;
  width: 600px;
  background-color: #ef767a;
  top: 50px;
  right: 50px;
  bottom: 50px;
  left: 750px;
  text-align: center;
  position: relative;

  & .img-hidden {
    display: none;
  }

  & .about-header {
    display: flex;
    justify-content: space-around;
    height: 150px;
    width: 600px;
    padding-top: 20px;

    & .header-text {
      width: 400px;

      & h1 {
        font-size: 40px;
      }

      & h3 {
        font-size: 30px;
      }
    }

    & #header-img {
      margin-top: 20px;
    }
  }

  & .about-contents {
    width: 550px;
    position: absolute;
    margin: 20px auto 30px auto;
    left: 0;
    right: 0;

    & p {
      margin: 15px;
    }
  }
}
