.about-wrapper{
  position: relative;
  width: 100vw;
  height: auto;

  & #body-about {
    position: absolute;
    height: 642px;
    width: 690px;
    top: 50px;
    right: 795px;
    bottom: 50px;
    left: 50px;
    margin-top: -35px;
  }
}

.about {
  position: absolute;
  border-radius: 7px;
  height: 600px;
  width: 600px;
  background-color: #ef767a;
  // margin: 50px 50px 50px 750px;
  top: 50px;
  right: 50px;
  bottom: 50px;
  left: 750px;
  text-align: center;
  position: relative;

  & .about-header {
    display: flex;
    justify-content: space-around;
    height: 150px;
    width: 600px;
    padding-top: 20px;

    & .header-text {
      width: 400px;

      & h1 {
        font-size: 40px;
      }

      & h3 {
        font-size: 30px;
      }
    }

    & #header-img {
      margin-top: 20px;
    }
  }

  & .about-contents {
    width: 550px;
    position: absolute;
    margin: 30px auto;
    left: 0;
    right: 0;
  }
}
