.main-button {
  border-radius: 10px;
  color: #3c4859;
  background-color: #ffe347;
  border-color: #ffe347;
  padding: 5px 15px;
}

.main-button:hover {
  background-color: #ffbd21;
  border-color: #ffbd21;
}
