.card-yellow {
  width: 250px;
  height: 260px;
  background-color: #ffe347;
  border-radius: 7px;

  & h4 {
    height: 40px;
    background-color: #ef767a;
    border-radius: 7px;
    text-align: center;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding-top: 8px;
    margin-top: 0px;
    text-decoration: none;
  }

  & a {
    color: #3c4859;
  }

  & a:hover {
    text-decoration: none;
    color: #333333;
  }

  & .back-content {
    font-size: 14px;
    width: 240px;
    height: 216px;
    margin: 5px;
    text-align: center;

      & h4 {
      height: 40px;
      background-color: #ef767a;
      border-radius: 7px;
      text-align: center;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      padding-top: 8px;
      margin-top: -50px;
    }
  }
}

.card-pink {
  width: 250px;
  height: 260px;
  background-color: #ef767a;
  border-radius: 7px;
  position: relative;

  & h4 {
    position: absolute;
    height: 40px;
    width: 250px;
    background-color: #6457a6;
    border-radius: 7px;
    text-align: center;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-top: 8px;
    top: -11px;
  }

  & .back-content {
    position: relative;
    font-size: 14px;
    width: 240px;
    height: 216px;
    margin: 50px 5px 5px 5px;
    text-align: center;

      & h4 {
      position: absolute;
      height: 40px;
      width: 250px;
      background-color: #6457a6;
      border-radius: 7px;
      text-align: center;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      padding-top: 8px;
      top: -11px;
    }
  }
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 250px;
  height: 260px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.vertical.flip-container {
  position: relative;
}

  .vertical .back {
    transform: rotateX(180deg);
  }

  .vertical.flip-container .flipper {
    transform-origin: 100% 213.5px; /* half of height */
  }

  .vertical.flip-container:hover .flipper {
    transform: rotateX(-180deg);
  }

