.resume-wrapper {
  position: relative;
  width: 100vw;
  height: auto;

  & #body-resume {
    position: absolute;
    height: 500px;
    width: 739px;
    top: 8px;
    right: 95px;
    bottom: 50px;
    left: 651px;
    margin-top: -46px;
  }
}

.resume {
  border-radius: 7px;
  height: 450px;
  width: 600px;
  background-color: #23f0c7;
  margin: 100px 750px 50px 50px;

  & .resume-header {
    display: flex;
    justify-content: space-around;
    height: 150px;
    width: 600px;
    padding-top: 10px;

    & h3 {
      font-size: 40px;
      width: 400px;
      margin-top: 40px;
      margin-left: 75px;
    }

    & #resume-img {
      margin-top: 20px;
      margin-right: 75px;
    }
  }

  & .resume-content {
    text-align: center;

    & h4 {
      margin: 15px;
    }

    & ul {
      margin: 20px auto 35px auto;
      padding-left: 0px;
    }

    & ul {
      list-style-type: none;
    }
  }
}
