<div class="about-wrapper">
  <%= image_tag "images/body-about.png", id: "body-about" %>
  <div class="about">
    <div class="about-header">
      <div class="header-text">
        <h1>Josephina Bos</h1>
        <h3>Full Stack Web Developer</h3>
      </div>
      <%= image_tag "images/me.jpg", class: "avatar-bordered", id: "header-img" %>
    </div>
    <div class="about-contents">
      <p>
        Hello world! I’m Josephina, a 27-year-old web developer from the beautiful city of Amsterdam. I’ve just started coding, but already I’m in love with it. It’s the combination of logic and creativity that has gotten me hooked.
      </p>
      <p>
        I loved going to uni and doing research on television and philosophy. But after I graduated I figured out that the oh-so-tough world of showbusiness wasn’t my cup of tea. So I started looking for a new passion and it wasn’t much later that I ran into web development.
      </p>
      <p>
        I started out in februari 2016, teaching myself the basics of Ruby, HTML and CSS. My projects were simple, but so much fun to do! This made me realize that I wanted more, so I applied to the Le Wagon Coding Bootcamp. In October I started my adventure and in nine intensive weeks I was made into a full-on junior developer!
        <p>
          My skill set is made up of Ruby (on Rails), HTML5, SCSS, jQuery (and a bit of Javascript), PostgresQL and GIT. I also work with tools and frameworks such as Bootstrap, Middleman, Heroku, Sublime Text, Sketch and Balsamiq and I just started teaching myself Python.
        </p>
        <p>
          Currently I’m working at Surfly as an Operations and Support Manager. Here, I dive into the world of API’s and REST and every day I learn more about the workings of the internet.
        </p>
      </div>
    </div>
  </div>
