<div class="about">
  <div class="about-header">
    <div class="header-text">
      <h1>Josephina Bos</h1>
      <h3>Full Stack Web Developer</h3>
    </div>
    <%= image_tag "images/me.jpg", class: "avatar-large", id: "header-img" %>
  </div>
  <div class="about-contents">
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt incidunt ratione repellat nobis, obcaecati, molestiae ipsa totam. Modi sit odio numquam dicta beatae dolore est, quibusdam, porro laudantium expedita nulla.
    Fugit quo praesentium, qui voluptates veniam aperiam facere excepturi aliquid deserunt fuga atque! Modi, explicabo magnam nostrum ab tempora ut quo pariatur nam, corporis provident optio corrupti, harum perferendis eius?
    Quas esse dolorum, iure praesentium, ad corporis laborum laboriosam consectetur id sunt dolorem et officia vitae fugiat natus excepturi sequi. Vitae sapiente magnam nostrum autem fugiat ex corrupti, delectus tenetur.
    Omnis repellendus error, modi at nulla enim, quod delectus impedit dicta ut voluptatibus doloremque. Sapiente ipsam assumenda modi pariatur doloribus eveniet quasi similique dolorum fuga, inventore sint nisi fugiat optio.
    Rem commodi provident, incidunt, consequuntur earum recusandae reiciendis modi fugit illum aliquam nemo asperiores saepe? Velit, natus, asperiores. Rerum, asperiores, laboriosam! Illo porro, provident ea quidem deserunt! Veritatis, consectetur, saepe!
    </p>
  </div>
</div>
