<div class="navbar">
  <ul class="list-inline">
    <li class="hvr-pulse" id="about" >about</li>
    <li class="hvr-bob" id="resume">resume</li>
    <li class="hvr-wobble-horizontal" id="projects">projects</li>
    <li class="hvr-buzz" id="contact">contact</li>
  </ul>
  <div class="img-hidden">
    <%= image_tag "images/thumb.png", id: "thumb-hidden" %>
  </div>
</div>
