<div class="navbar-wagon">
  <ul class="list-inline">
    <li class="hvr-pulse"><a href="#">about</a></li>
    <li class="hvr-bob"><a href="#">resume</a></li>
    <li class="hvr-wobble-horizontal"><a href="#">projects</a></li>
    <li class="hvr-buzz"><a href="#">contact</a></li>
  </ul>
  <!-- Logo -->
 <!--  <#% link_to "/", class: "navbar-wagon-brand" do %>
    <#%= image_tag "lewagon.png" %>
  <#% end %> -->

  <!-- Dropdown appearing on mobile only -->
  <!-- <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div> -->
</div>
