<div class="projects-wrapper">
  <%= image_tag "images/body-projects.png", id: "body-projects" %>
  <div class="projects">
    <div class="projects-header">
      <h3>Projects</h3>
      <%= image_tag "images/devices.png", class: "avatar-large", id: "projects-img" %>
    </div>
    <div class="card-yellow-wrapper">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper card-1 card-yellow">
          <div class="front">
            <!-- front content -->
            <%= image_tag "images/filmsy.png", class: "filmsy-image" %>
            <h4><a href="www.filmsy.top" target="blank" class="hvr-wobble-horizontal">Filmsy</a></h4>
          </div>
          <div class="back">
            <!-- back content -->
            <div class="back-content">
              <br>
              <br>
              <a href="www.filmsy.top" target="blank">
              <p>A dynamic web app build with Ruby on Rails. Filmsy is an app that provides short films; perfect for people with a busy lifestyle but who are still aching for quality content. Fun feature: users can filter by duration!</p>
              </a>
            </div>
            <h4><a href="http://www.filmsy.top" target="blank" class="hvr-wobble-horizontal">Filmsy</a></h4>
          </div>
        </div>
      </div>
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper card-1 card-yellow">
          <div class="front">
            <!-- front content -->
            <%= image_tag "images/wberoosendaal.png", class: "wbe-image" %>
            <h4><a href="www.wberoosendaal.nl" target="blank" class="hvr-wobble-horizontal">WBE Roosendaal</a></h4>
          </div>
          <div class="back">
            <!-- back content -->
            <div class="back-content">
              <!-- <a href="www.wberoosendaal.nl" target="blank"> -->
                <p>Landing page for a Dutch hunting society. The page includes:</p>
                <p>- Clickable map with image enlargement in modal</p>
                <p>- Simple form with success message after submitting</p>
                <p>- Album with bootstrap carousel</p>
                <p>- Media queries: full responsiveness to different screen sizes</p>
              <!-- </a> -->
            </div>
            <h4><!-- <a href="www.wberoosendaal.nl" target="blank" class="hvr-wobble-horizontal"> -->Under Construction<!-- </a> --></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
