<div class="projects">
  <div class="projects-header">
    <h3>Projects</h3>
    <%= image_tag "images/devices.png", class: "avatar-large", id: "projects-img" %>
  </div>
  <div class="card-wrapper">
      <div class="card-1 card">
        <%= image_tag "images/filmsy.png", class: "filmsy-image" %>
        <h4><a href="www.filmsy.top" target="blank" class="hvr-wobble-horizontal">Filmsy</a></h4>
      </div>
      <div class="card-2 card">
        <%= image_tag "images/wberoosendaal.png", class: "wbe-image" %>
        <h4><a href="www.wberoosendaal.nl" target="blank" class="hvr-wobble-horizontal">WBE Roosendaal</a></h4>
      </div>
    </div>
</div>
