<div class="resume-wrapper">
<%= image_tag "images/body-resume.png", id: "body-resume" %>
  <div class="resume">
    <div class="resume-header">
      <h3>Resume</h3>
      <%= image_tag "images/notepad.png", class: "avatar-large", id: "resume-img" %>
    </div>
    <div class="resume-content">
      <h4>Work Experience</h4>
      <ul>
        <li>2017 Operations and Support Manager at Surfly</li>
        <li>2016 Freelance RoR Developer</li>
      </ul>
      <h4>Education</h4>
      <ul>
        <li>Full Stack Web Development RoR at Le Wagon Amsterdam</li>
        <li>MA: Television and Cross Media Culture at University of Amsterdam</li>
        <li>BA: Media and Culture at University of Amsterdam</li>
      </ul>
    </div>
  </div>
</div>
