<div class="resume-wrapper">
<%= image_tag "images/body-resume.png", id: "body-resume" %>
  <div class="resume">
    <div class="resume-header">
      <h3>Resume</h3>
      <%= image_tag "images/notepad.png", class: "avatar-large", id: "resume-img" %>
    </div>
    <div class="resume-content">
      <h4>Work Experience</h4>
      <ul>
        <li>2017 Operations and Support Manager at Surfly</li>
        <li>2016 Freelance RoR Developer</li>
      </ul>
      <h4>Education</h4>
      <ul>
        <li>Full Stack Web Development RoR at Le Wagon Amsterdam</li>
        <li>MA: Television and Cross Media Culture at University of Amsterdam</li>
        <li>BA: Media and Culture at University of Amsterdam</li>
      </ul>
    </div>
    <div class="card-pink-wrapper">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper card-3 card-pink">
          <div class="front">
            <!-- front content -->
            <%= image_tag "images/browser-3.png", class: "avatar-large", id: "resume-card-img" %>
            <h4>Languages</h4>
          </div>
          <div class="back">
            <!-- back content -->
            <div class="back-content">
              <p>Ruby (on Rails)</p>
              <p>HTML5</p>
              <p>SCSS</p>
              <p>jQuery</p>
              <p>Javascript</p>
              <p>SQL</p>
              <p>Python</p>
            </div>
            <h4>Languages</h4>
          </div>
        </div>
      </div>
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper card-4 card-pink">
          <div class="front">
            <!-- front content -->
            <%= image_tag "images/settings-1.png", class: "avatar-large", id: "resume-card-img" %>
            <h4>Tools/Frameworks</h4>
          </div>
          <div class="back">
            <!-- back content -->
            <div class="back-content">
              <p>GIT</p>
              <p>Bootstrap</p>
              <p>Middleman</p>
              <p>Heroku</p>
              <p>Sublime Text</p>
              <p>Sketch</p>
              <p>Balsamiq</p>
            </div>
            <h4>Tools/Frameworks</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
